//- Always remember the html2jade.org website.  It will take your regular HTML and convert it to the pug format.

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Contact Page
    link(rel='stylesheet' href='/css/styles.css')
  body
    //- h1 Contact Page
    h1 Home Page
    //- img(src='/img/goku.png' alt='')
    //- script(src='js/main.js')
    //- #main.test.same.other.testing.cindy
    //-   .active
    //-   div Billy

    //- What we are doing here is we are taking this pug file and running it through Express.js.  Express.js is going through it and compiling this code and returning it back, or rendering it back, to the user, as a regular HTML file.  When people come to the homepage, they are just seeing a regular HTML file.

    //- The good thing about having template engines is that you get extra powers.  You get things that you wouldn't be able to do with HTML.