//- Now we are moving the header from the app.pug template layout file to this header.pug file in the includes folder.
//- Now we can change the header from here.
header
    //- .logo Billy's Shop
    .logo Jane's Shop