<!-- There might be situations where we have to use regular HTML and CSS or JavaScript inside of regular HTML.  Joe recommends that we use an HTML file inside of the includes folder, like this jshead.html file. -->
<!-- There might be situations where we have to use regular JavaScript, like this, especially when we are dealing with Facebook Pixels, Google Analytics, or Google Tag Manager.  We might want to do something like this.  Then we just include this file in the template layout file in the exact location that we want to place it at. -->
<script>
    console.log("Running JavaScript from the head.");
</script>